
<div class="sidebar-wrapper">
    <div class="title-group">
        <span class="title">Stream</span>
        <a href="#">More</a>
    </div>
    <div class="advert-group">
        <a href="#"><img src="{%static 'images/advert1.jpg'%}" alt=""></a>
    </div>
    <div class="title-group">
        <span class="title">Subscribe</span>
    </div>
    <div class="subscribe-group">
        <ul class="left-group">
            <li class="facebook">
                <a href="" target="_blank">@facebook</a>
            </li>
            <li class="twitter">
                <a href="" target="_blank">@twitter</a>
            </li>
            <li class="instagram">
                <a href="" target="_blank">@instagram</a>
            </li>
        </ul>
        <div class="right-group">
            <div class="qrcode"></div>
            <p>Scan QR code to subscribe.</p>
        </div>
    </div>
    <div class="title-group">
        <span class="title">Trending</span>
    </div>
    <ul class="trending-list-group">
        <li>
            <div class="left">
                <p class="title">
                    <a href="#">Global Coronavirus Deaths Near 500,000...</a>
                </p>
                <p class="more">
                    <span class="category">
                        In Depth
                    </span>
                    <span class="pub-time">
                        1 hrs ago
                    </span>
                </p>
            </div>
            <div class="right">
                <a href="#"><img src="{%static 'images/thumbnail1.jpg'%}" alt=""></a>
            </div>
        </li>
        <li>
            <div class="left">
                <p class="title">
                    <a href="#">Global Coronavirus Deaths Near 500,000...</a>
                </p>
                <p class="more">
                    <span class="category">
                        In Depth
                    </span>
                    <span class="pub-time">
                        1 hrs ago
                    </span>
                </p>
            </div>
            <div class="right">
                <a href="#"><img src="{%static 'images/thumbnail2.jpg'%}" alt=""></a>
            </div>
        </li>
        <li>
            <div class="left">
                <p class="title">
                    <a href="#">Global Coronavirus Deaths Near 500,000...</a>
                </p>
                <p class="more">
                    <span class="category">
                        In Depth
                    </span>
                    <span class="pub-time">
                        1 hrs ago
                    </span>
                </p>
            </div>
            <div class="right">
                <a href="#"><img src="{%static 'images/thumbnail1.jpg'%}" alt=""></a>
            </div>
        </li>
    </ul>
</div>