$pageWidth: 980px;
$navHeight: 45px;
$mainBoxWidth: 690px;
$sidebarWidth: 280px;

//Dark background home page
$titleColor: white;
$metaColor: #aaa;
$contentColor: #f5f5f7;
$borderColor: #666;
$darkBC: #333;
$lightBC: #666;
$maxLightBC: rgb(231, 231, 231);
$footerBC: #1d1d1d;

//Light background other pages
$titleColorDark: #1d1d1d;
$metaColorDark: #666;
$contentColorDark: #333;
$borderColorDark: rgb(226, 226, 226);
$freeColor: rgb(10, 109, 35);
$payColor: rgb(245, 74, 74);
